
body{
  font-family: var(--font1);
}
form{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.box {
  padding: 26px 17px 26px 17px;
  background-color: white;
  /* border: 1px solid black; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    
}

.heading {
  text-align: center;
}

p {
  margin-left: 10px;
}

.box input {
  padding: 10px;
  margin: 5px 10px 10px 10px;
  width: 18rem;
  outline: none;
}
.register-from-other-route {
  margin-left: 10px;
  margin-bottom: 10px;
}

.Btn {
  display: flex;
  justify-content: center;
}

.btn {
  margin-top: 5px;
  padding: 7px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
}
